# This is the main config of the Qbannhamers plugin.
#the internal placeholders for the plugin are {attacker} {attacked} {hammer} (used in there right place)
# if you have any questions, please contact the developer on discord: https://discord.gg/rnqu8ks7Er


prefix: "&4[&c&lQBH&4] "
# The prefix of the plugin, used in messages.
ExecuteWithConsole: false
# If true, the plugin will execute strike with the console instead of the player.

StrikeWhitelist:
  - "Player1"
  - "Player2"
# A list of players that are whitelisted from being struck by the hammers.

TimeOutDuration: 3.0

# The duration in seconds before a strike confirmation times out.

StrikeLightningIfNoPlayer: true
# If true, lightning will strike even if the attacked player is not found.

GameCrasher: true
# If true, the plugin will attempt to crash the attacked player's game client(doesn't work on bedrock players).

hammers:
  "kickhammer":
    name: "&#303030&lB&#3F3F3F&lA&#4E4E4E&lN &#6C6C6C&lH&#7B7B7B&lA&#686868&lM&#565656&lM&#434343&lE&#303030&lR &f[Kick]"
    lore:
      - "&f"
      - "&7Kick hammer. Click on a player"
      - "&7to kick them from the server."
      - ""
      - "&#303030&l | &#7B7B7BLeft-Click to ban a player!"
    strike-msg: "&c{attacked} has been struck by the Ban Hammer."
    execution-delay: 0.5 # delay in seconds before the command is executed (20 ticks = 1 second)
    command: "kick {attacked} You have been kicked by the {attacker}"
    lightning-strike: true
    fling: true
    sound:
      enabled: true
      name: "ENTITY_WITHER_SPAWN"
      volume: 1.0
      pitch: 1.0
    modeldata: 0

  "xrayhammer":
    strike-msg: "&c{attacked} has been struck by the Ban Hammer."
    name: "&#A87406&lB&#B98412&lA&#CB941E&lN &#EEB337&lH&#FFC343&lA&#E9AF34&lM&#D49C25&lM&#BE8815&lE&#A87406&lR &f[XRAY]"
    lore:
      - "&f"
      - "&7Xray ban hammer. Click on a player"
      - "&7to ban them for xray use."
      - ""
      - "&#A87406&l | &#FFC343Left-Click to ban a player!"
    command: "ban {attacked} 30d xraying"
    lightning-strike: true
    execution-delay: 0.5
    fling: true
    sound:
      enabled: true
      sound-name: "ENTITY_WITHER_SPAWN"
      volume: 1.0
      pitch: 1.0
    modeldata: 0

  "cheatinghammer":
    strike-msg: "&c{attacked} has been struck by the Ban Hammer."
    name: "&#A80606&lB&#B91212&lA&#CB1E1E&lN &#EE3737&lH&#FF4343&lA&#E93434&lM&#D42525&lM&#BE1515&lE&#A80606&lR &f[Cheaters]"
    lore:
      - "&f"
      - "&7ban hammer for cheaters. Click on a player"
      - "&7to ban them for hacking on the server."
      - ""
      - "&#A80606&l | &#FF4343Left-Click to ban a player!"
    lightning-strike: true
    command: "ban {attacked} 30d cheating"
    execution-delay: 0.5
    fling: true
    sound:
      enabled: true
      sound-name: "ENTITY_WITHER_SPAWN"
      volume: 1.0
      pitch: 1.0
    modeldata: 0

  "permahammer":
    strike-msg: "&c{attacked} has been struck by the Ban Hammer."
    name: "&#37169C&lB&#3E19B0&lA&#451CC4&lN &#5221EB&lH&#5924FF&lA&#5121E6&lM&#481DCE&lM&#401AB5&lE&#37169C&lR &f[Perma]"
    lore:
      - "&f"
      - "&7Permanent ban hammer. Click on a player"
      - "&7to ban them permenently from the server."
      - ""
      - "&#37169C&l | &#5924FFLeft-Click to ban a player!"
    command: "banip {attacked} Ban evading"
    lightning-strike: true
    execution-delay: 0.5
    fling: true
    sound:
        enabled: true
        sound-name: "ENTITY_WITHER_SPAWN"
        volume: 1.0
        pitch: 1.0
    modeldata: 0


# messages
Invalid-Subcommand: "&cInvalid subcommand."
No-Subcommand: "&cYou must specify a subcommand."
Console-Gethammer: "&cThis can only be executed by players."
Hammer-Notspecified: "&cYou must specify a hammer."
Hammer-NoPermission: "&cYou do not have permission to use this hammer."
Invalid-Hammer: "&cInvalid hammer."
Hammer-recieved: "&eYou have received a {hammer}&e!."
No-Permission: "&cYou do not have permission to use this hammer."
Whitelisted-Player: "&c{attacked} is immune to Ban Hammers."
Confirmation-Message: "&eYou are about to strike {attacked} with a {hammer}. Click again to confirm."
Confirmation-Timeout: "&cConfirmation timed out."
ModelData-Error: "&cInvalid model data for {hammer}."
GamerCrasher-NoPermission: "&cYou don't have permission use the game crasher."
GameCrasher-Toggled: "&eGame Crasher option has been {status}&e."
GameCrasher-Disabled: "&eGame Crasher is disabled from the config."
Config-Reloaded: "&aConfiguration reloaded successfully."


# config version, DO NOT CHANGE THIS
ConfigVersion: 2.5